<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" class="navbar-toggle collapsed" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' class="navbar-brand"}}Library App{{/link-to}}
        </div>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}
            {{#link-to 'contact' tagName="li"}}<a href="">Contact</a>{{/link-to}}
        </ul>
    </div>
</nav>